<div class="row">
  <div class="col-md-6 col-sm-9">
    <div class="alert alert-success">
      Mes Todos
    </div>
    <ol class="list-group">
      <li class="list-group-item"
      *ngFor="let todo of todos"
      >
        {{todo.name}} {{todo.designation}}
        <i (click)="deleteTodo(todo)" class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6 col-sm-3">
    <label for="name">Name</label>
    <input id="name" [(ngModel)]="name" type="text" class="form-control">
    <label for="designation">Designation</label>
    <input id="designation" [(ngModel)]="designation" type="text" class="form-control">
    <button class="btn btn-primary" (click)="addTodo()" [disabled]="!designation.length || !name.length">Add Todo</button>
  </div>
</div>
